<h2>User info</h2>
<%= image_tag current_user.get_profile_image(100,100) %>
<table>
  <tr></tr>
  <tr>
    <th>name</th><th><%= current_user.name %></th>
  </tr>
  <tr>
    <th>introduction</th><th><%= current_user.introduction %></th>
  </tr>
</table>
<%= link_to "edit", edit_user_path(current_user.id) %>
<h2>New book</h2>
  <%= form_with model: @book_new do |f| %>
    <div class="form-group">
      <label>Title</label> <br>
        <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <label>Opinion</label> <br>
        <%= f.text_field :body %>
    </div>
    <%= f.submit 'Create Book' %>
  <% end %>